.video-title-container {
    width: 480px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #E5F2FF;
}

.video-title {
    font-family: DomaineDisplay-Semibold;
    color: #006EB4;
    font-size: 36px;
}

